<div id="admin-sidebar" class="col-md-2 p-x-0 p-y-3">
    <ul class="sidenav admin-sidenav list-unstyled">
        <li><a href="/movies/last">ultimas peliculas</a></li>
        <li><a href="/movies/first">primera pelicula</a></li>
        <li><a href="/categories">Ver categorias</a></li>
                       
    </ul>
</div> <!-- /#admin-sidebar -->